.wallpaper {
  border-radius: 6px;
}

.wallpaper-row {
  border-radius: 8px;
}

.version {
  font-weight: 800;
  font-size: 50px;
}

headerbar.overlay {
  background-color: alpha(@headerbar_bg_color, .75);
}

headerbar.overlay:backdrop {
  background-color: alpha(@headerbar_backdrop_color, .75);
}
